.container {
  width: 80vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid lightblue;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px;
}

.repo {
  display: flex;
  position: sticky;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightblue;
}

.list {
  display: flex;
  width: 50%;
  height: 90vh;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  border-left: 3px solid black;
  border-radius: 10px;
  background-image: url(../../public/keyboard.jpeg);
  background-size: cover;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 80%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border: 1px solid lightblue;
  border-radius: 5px;
  background-color: lightblue;
}

.text {
  font-size: 12px;
  margin: 2px;
}

.input{
  display: flex;
  width: 30%;
  height: 5%;
  margin: 3px;
  text-align: center;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid black;
  text-decoration: none;
  outline: none;
}

.btn {
  display: flex;
  margin-top: 20px;
  width: 20%;
  height: 5%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  transition: 0.3s all ease;
}

.btn:hover {
  color: green;
  border: 2px solid green;
}

@media screen and (max-width: 980px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .repo {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightblue;
  }

  .list {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 3px solid black;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 1px solid lightblue;
    border-radius: 5px;
    background-color: lightblue;
  }

  .btn {
    display: flex;
    margin-top: 20px;
    width: 30%;
    height: 5%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    transition: 0.3s all ease;
  }

}